* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #E5E5E5;
    font-family: Arial;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

    
}
.contant{
    width: 80%;
}



.tabs-mobile-menu {
    display: none;
}

.nav {
    background-color: #FFFFFF;
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
}

.tab_item {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    margin-left: 9%;
    margin-right: 9%;
    color: #01A9DB;
}

.footer{
    background-color: #FFFFFF;
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
    
}
.social_networks{
        margin-left: 3%;
        color: #01A9DB;
        
}



